[id="dir1"] {

    display:flex;

    background-color: gray; 

    justify-content:center;

}

[class~="IAm"] {

    display: inline-flex;

    font-size: 50px;
    color: black;
    background-color: lightgray;
    border-radius: 5px/5px;

    width:max-content;

    --block-height: 125px;

    height: var(--block-height);

    line-height: var(--block-height);

    text-align:center;

    margin-right: 5px;

    margin-left: 5px;

    margin-bottom: 50px;

    margin-top: 50px;

}

[class~="Second"]{

    order: 4;

}

[class~="First"] {

    background-color: rgb(0, 210, 0);

    order: 3;

}

[class~="Fourth"]{

    background-color: red;

    order:2
}

[class~="Third"]{

    order:1

}

[class~="one"] {
    background-color: #1a1aff;
}

/*

[class~="IAm"]{

    order:-1;

}

*/

[class="BigMarge"] {
    
    display: block;
    
    height: 200px;
    
    visibility:hidden;

}

input[name="r1"] {
   
    width: 64px;
    height: 64px;

    -webkit-appearance: none;
    -moz-appearance: none;

    border-radius: 64px;
    border: 7px solid black;
    transition: 0.2s all linear;
    outline:10px solid #8383f7;

}

input:checked[name="r1"] {
    background-color: #aee6ff;
    border-color: #000222;
    outline: 5px solid #010c8f;
    border-radius: 16px;
}